body {
  width: 290px;
  max-height: 600px;
  font-family: system-ui;
  background-color: #F6F5FB;
  overflow-y: scroll;
  user-select: none;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 0px;
}